{% extends "base.html" %}

{% block body %}

    <header>
        <div>
            <img src="{{ url_for('static', filename='images/one-decision-logo.png') }}" alt="logo">
            <h4>DAILY POSITIVE ACTIONS</h4>
        </div>
    </header>
    <main>
        <div class="indexH"><h3>Choose Your 5 Actions for Today</h3><img src="{{ url_for('static', filename='images/info.png') }}" alt="info"></div>
        <div class="infoCont">
            <div class="info">
                <h3>INSTRUCTIONS</h3>
                <ul>
                    <li>Select and set 5 tasks to accomplish for the day.</li>
                    <li>Come back at night to check them off.</li>
                </ul>
            </div>
        </div>
        <img class="load" src="{{ url_for('static', filename='images/Loading3.gif') }}" alt="loading_3">
        <form>
            <div class="choices_1">
                <!-- <div class="choice">
                    <input name="choice1" value="Drink 1L of Water" type="checkbox" id="check" class="check">
                    <label for="check">Drink 1L of Water</label>
                </div> -->
            </div>
            <div class="choices_2">
                <!-- <div class="choice">
                    <input name="choice1" value="No Junk Food" type="checkbox" id="check11" class="check">
                    <label for="check11">No Junk Food</label>
                </div> -->
            </div>
            <div class="setCont">
                <div class="count"><span>0</span> of 5 Selected</div>
                <div class="btnCont">
                    <input class="setBtn" type="submit" value="Set Daily Tasks">
                    <img src="{{ url_for('static', filename='images/loading4.gif') }}" alt="loading_gif">
                </div>
            </div>
        </form>
        <div class="timerCont">
            <img src="{{ url_for('static', filename='images/timer2.gif') }}" alt="timer">
            <div>Come back in <span>0</span>hrs</div>
        </div>
    </main>
    <footer>
        <div>Like Minded Troop(LMT) Affilliated Project</div>
        <div>&copy; 2025 Like Minded Troop</div>
        <div>
            <img class="lmt" src="{{ url_for('static', filename='images/lmt_no_tagline.png') }}" alt="LMT logo">
            <a href="https://www.x.com/lmt_dao"><img class="x" src="{{ url_for('static', filename='images/x.png') }}" alt="X logo"></a>
        </div>
    </footer>

{% endblock %}